<div class="page-wrapper">
    <div class="content">
        <div class="card-box profile-header">
            <div class="row">
                <div class="col-md-12">
                    
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0 mb-0">{{partiant.name}}</h3>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Gender:</span>
                                            <span class="text">{{partiant.sex == 1 ? 'Male' : 'Female'}}</span>
                                        </li>
                                        <li>
                                            <span class="title">Age:</span>
                                            <span class="text">{{partiant.age}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                                          
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
      <span class="dash-widget-bg1"><i class="fa fa-stethoscope" aria-hidden="true"></i></span>
            <div class="dash-widget-info text-right">
                <h3>
                    <ng-template [ngIf] = "partiant.cp== 1">typical angina</ng-template>
                    <ng-template [ngIf] = "partiant.cp== 2">atypical angina</ng-template>
                    <ng-template [ngIf] = "partiant.cp== 3">non-angina</ng-template>
                    <ng-template [ngIf] = "partiant.cp== 4">asymptomatic</ng-template>
                </h3>
                <span class="widget-title1">Cp <i class="fa fa-check" aria-hidden="true"></i></span>
            </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg2"><i class="fa fa-user-o"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{partiant.trestbps}}</h3>
                        <span class="widget-title2">trestbps <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg3"><i class="fa fa-user-md" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{partiant.chol}}</h3>
                        <span class="widget-title3">chol <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>
                            <ng-template [ngIf] = "partiant.restecg== 0">normal</ng-template>
                            <ng-template [ngIf] = "partiant.restecg== 1">having ST-T wave abnormality</ng-template>
                            <ng-template [ngIf] = "partiant.restecg== 2">showing probable</ng-template>
                        </h3>
                        <span class="widget-title4">restecg <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{partiant.fbs == 1 ? 'yes' : 'no'}}</h3>
                        <span class="widget-title4">fbs <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{partiant.oldpeak}}</h3>
                        <span class="widget-title4">oldpeak <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{partiant.exang == 1 ? 'yes' : 'no'}}</h3>
                        <span class="widget-title4">exang <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
                <div class="dash-widget">
                    <span class="dash-widget-bg4"><i class="fa fa-heartbeat" aria-hidden="true"></i></span>
                    <div class="dash-widget-info text-right">
                        <h3>{{partiant.thalach}}</h3>
                        <span class="widget-title4">thalach <i class="fa fa-check" aria-hidden="true"></i></span>
                    </div>
                </div>
            </div>
           
            
        

    </div>
</div>